<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Senac Parking</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container-principal">
        <img class="img-fundo" src="../Assets - projeto estacionamento/ProfessionalParkingFacilityBackground.png" alt="estacionamento">
        
        <div class="painel-login">
            <h2>Área de Login</h2>
        </div>
    </div>

</body>
</html>