<!DOCTYPE html>
<html lang="pt">
<head>
    <style>
        #linha-vertical {
    height: 200px;
    border-right: 12px solid rgb(100, 98, 98);
}
    .texto {
      position: absolute;
      margin:0 auto;
      width: 300  
    }
        
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>estracionamento</title>
</head>
<body>

    <p style="color: #3069e6;; font-size: 24px;"> Senac CEP papaléo</p>
<img style="width: max; height:max-content;" src="C:\Users\62543886\Documents\GitHub\estacionamento-jorge-cunha\Assets - projeto estacionamento\Professional parking facility background.png" alt="Imagem de fundo do estacionamento">
<div id="linha-vertical"></div>

</body>
</html>